---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CreditBiro - Triagem de Crédito e Consultas CPF/CNPJ" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-50 text-slate-900 font-sans antialiased">
    <Header />
		<main>
			<slot />
		</main>
    <Footer />
	</body>
</html>
